:host {
  display: block;
  background-color: var(--grey-90-a10);
  border-radius: 7px;
  padding: 15px;
  width: 200px;
  height: 250px;
  position: relative;
}

.product-name {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  color: var(--grey-60);
  font-weight: bold;
}

.icon-container {
  text-align: center;
  margin-bottom: 15px;
}

.icon-container i {
  font-size: 75px;
  color: var(--blue-70);
}

.product-price {
  text-align: right;
  color: var(--red-50);
  font-size: 20px;
}

button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 7px;
  color: var(--in-content-page-color);
  background-color: var(--blue-40);
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  padding: 7px;
  width: max-content;
  transition: all 250ms;
}

button:hover {
  background-color: var(--blue-50);
}

button i {
  font-size: 14px;
  margin-left: 5px;
}
