:host {
  display: flex;
  width: 100%;
}

button {
  flex: 1;
  background-color: transparent;
  border: 1px solid var(--grey-90-a60);
  padding: 10px;
  font-size: 16px;
  color: var(--grey-60);
  transition: all 250ms;
}

button:not(:last-of-type) {
  border-right: none;
}

button:hover {
  background-color: var(--grey-60);
  color: var(--in-content-page-color);
}
