:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--blue-50);
  padding: 30px 20px;
}

a {
  text-decoration: none;
  color: var(--in-content-page-color);
  font-size: 25px;
  transition: color 250ms;
}

a:hover {
  color: var(--grey-30);
}

.search-bar {
  flex: 1;
  margin-left: 100px;
  position: relative;
}

input {
  width: 50%;
  padding: 10px 15px;
  border-radius: 7px;
  border: none;
  color: var(--grey-60);
}

label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--grey-90-a30);
  transition: all 250ms;
}

input:focus + label,
input:valid + label {
  transform: translate(-15px, -250%);
  color: black;
  font-size: 12px;
}


.cart-btn {
  cursor: default;
  position: relative;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 5px;
  transition: all 250ms;
}

.cart-btn-container:hover .cart-btn {
  background-color: var(--grey-30);
}

i {
  font-size: 30px;
  color: var(--grey-30);
  transition: all 250ms;
}

.cart-btn-container:hover .cart-btn i {
  color: black;
}

.number-of-items {
  display: grid;
  place-items: center;
  position: absolute;
  color: var(--grey-60);
  background-color: var(--in-content-page-color);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  bottom: 0;
  right: 0;
  font-weight: bold;
  transition: all 250ms;
}

.cart-btn-container:hover .number-of-items {
  display: none;
}

.cart-btn-container {
  position: relative;
}

.cart-items {
  display: none;
  width: 250px;
  background-color: var(--grey-30);
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 7px;
  border-top-right-radius: 0;
  padding: 10px;
  z-index: 2;
}

.cart-btn-container:hover .cart-items {
  display: block;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px dashed black;
}

.item:not(:last-of-type) {
  margin-bottom: 15px;
}

.item > * {
  flex: 1;
}

.item-qnt {
  text-align: center;
}

.item-price {
  text-align: right;
}

.total-cart {
  display: flex;
  justify-content: space-between;
}

.checkout-btn {
  width: 100%;
  cursor: pointer;
  color: var(--in-content-page-color);
  background-color: var(--blue-40);
  border: none;
  padding: 7px;
  border-radius: 7px;
  margin-top: 25px;
}

.checkout-btn:hover:not(:disabled) {
  background-color: var(--blue-50);
}

.checkout-btn:disabled {
  cursor: not-allowed;
  background-color: var(--grey-60);
}
